ch24/SpecialService/SpecialService/SOA/Schemas/wsse.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:tns="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="Security">
    <complexType>
      <sequence>
        <element name="UsernameToken" type="tns:UsernameToken"/>
      </sequence>
    </complexType>
  </element>
  <complexType name="UsernameToken">
    <sequence>
      <element name="Username" type="string"/>
      <element name="Password" type="string"/>
    </sequence>
  </complexType>
</schema>