ch9/QuickAndSlowHello/QuickAndSlowHello/SOA/Schemas/Cache.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cce="saibot.airport/utility/cache"
            targetNamespace="saibot.airport/utility/cache" elementFormDefault="qualified">
  <xsd:element name="cacheResult" type="cce:cachedObjectType"></xsd:element>

  <xsd:complexType name="cacheTagType">
    <xsd:sequence>
      <xsd:element name="tag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="cachedObjectType">
    <xsd:sequence>
      <xsd:element name="payload" type="xsd:anyType"/>
      <xsd:element name="creationTimestamp" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
