ch12/AsynchronousSOA-step1/AsynchronousSOAComposite/SOA/ThoughtfulGreeter.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="saibot.airport/services/pr"
     xmlns:pr="saibot.airport/services/pr" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="requestMessage" type="pr:greetingRequestType"/>
    <element name="responseMessage" type="pr:greetingResponseType"/>
    <complexType name="greetingRequestType">
        <sequence>
            <element name="name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="greetingResponseType">
        <sequence>
            <element name="greeting" type="string"/>
        </sequence>
    </complexType>
</schema>
