samples/DomainsService/DomainsService/Resources/fileReference.wsdl

<wsdl:definitions
     name="fileReference"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/DomainsService/DomainsService/fileReference"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/DomainsService/DomainsService/fileReference"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:imp1="http://TargetNamespace.com/fileReference"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/DomainsService/DomainsService/fileReference"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://TargetNamespace.com/fileReference" schemaLocation="nxsd_schema1.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="body" element="imp1:domains"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
