ch15/AircraftServices/AircraftServiceOrchestrator/SOA/Schemas/AircraftService.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="saibot.airport/operational/aircraftservice"
     xmlns:acs="saibot.airport/operational/aircraftservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="RequestProposalMessage" type="acs:requestProposalMessageType"/>
    <xsd:element name="SubmitProposalCallbackMessage" type="acs:submitProposalCallbackMessageType"/>
    <xsd:complexType name="requestProposalMessageType">
        <xsd:sequence>
            <xsd:element name="RequestingCarrierIATACode" nillable="false" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Flight" nillable="false" type="acs:flightType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Services">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ServiceRequirement" type="acs:serviceRequirementType" minOccurs="0"
                             maxOccurs="10"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RFPIdentificationNumber" nillable="false" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="DeadlineForProposals" nillable="false" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="submitProposalCallbackMessageType">
        <xsd:sequence>
            <xsd:element name="RFPIdentificationNumber" nillable="false" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="CanDo" nillable="false" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Price" nillable="false" type="xsd:float" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Comments" nillable="false" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="ProposalExpiryDate" nillable="false" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightType">
        <xsd:sequence>
            <xsd:element name="AircraftTypeIATACode" nillable="false" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="EstimatedNumberOfPassengers" nillable="false" type="xsd:int" minOccurs="1"
                 maxOccurs="1"/>
            <xsd:element name="SlotTime" nillable="false" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ArrivalOrDeparture" nillable="false" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="ConnectingAirport" nillable="false" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="serviceRequirementType">
        <xsd:sequence>
            <xsd:element name="Service" type="acs:serviceType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="MinimumQualityLevel" nillable="false" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Quantity" nillable="false" type="xsd:int" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="Description" nillable="false" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="serviceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fuel"/>
            <xsd:enumeration value="catering"/>
            <xsd:enumeration value="cleaning"/>
            <xsd:enumeration value="bagage"/>
            <xsd:enumeration value="deicing"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
