ch6/AircraftMovementService/AircraftMovementServiceSOAcomposite/SOA/WSDLs/AircraftMovementReporter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="AircraftMovementReporter"
     targetNamespace="http://aircraftmovement.operations.airport.saibot/"
     xmlns:tns="http://aircraftmovement.operations.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://aircraftmovement.operations.airport.saibot/" xmlns:tns="http://aircraftmovement.operations.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="reportAircraftActivity">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:dateTime"/>
                    <xsd:element name="arg1" type="xsd:int"/>
                    <xsd:element name="arg2" type="xsd:string"/>
                    <xsd:element name="arg3" type="xsd:string"/>
                    <xsd:element name="arg4" type="xsd:string"/>
                    <xsd:element name="arg5" type="xsd:string"/>
                    <xsd:element name="arg6" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="reportAircraftActivity" type="tns:reportAircraftActivity"/>
            <xsd:complexType name="reportAircraftActivityResponse">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="reportAircraftActivityResponse" type="tns:reportAircraftActivityResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="reportAircraftActivityInput">
        <wsdl:part name="parameters" element="tns:reportAircraftActivity"/>
    </wsdl:message>
    <wsdl:message name="reportAircraftActivityOutput">
        <wsdl:part name="parameters" element="tns:reportAircraftActivityResponse"/>
    </wsdl:message>
    <wsdl:portType name="AircraftMovementReporter">
        <wsdl:operation name="reportAircraftActivity">
            <wsdl:input message="tns:reportAircraftActivityInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:reportAircraftActivityOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
