ch22/SOAApplicationMavenTrial/SOACompositeMavenTrial/SOA/Schemas/CalculatorProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOAApplicationMavenTrial/SOACompositeMavenTrial/CalculatorProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="operandOne" type="int"/>
				<element name="operandTwo" type="int"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="int"/>
			</sequence>
		</complexType>
	</element>
</schema>