ch4/ReferenceDataServices/AirportService/WSDLs/AirportService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="saibot.airport/services/utility/reference"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="saibot.airport/services/utility/reference"
             xmlns:reference="saibot.airport/services/utility/reference"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <types>
   <xsd:schema elementFormDefault="qualified">
      <xsd:import namespace="saibot.airport/services/utility/reference"
                  schemaLocation="../Schemas/AirportService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAirportDetailsRequestMessage">
    <part name="in" element="reference:airportDetailsRequestMessage"/>
  </message>
  <message name="getAirportDetailsResponseMessage">
    <part name="return" element="reference:airportDetailsResponsetMessage"/>
  </message>
  <message name="findAirportsRequestMessage">
    <part name="in" element="reference:findAirportsRequestMessage"/>
  </message>
  <message name="findAirportsResponseMessage">
    <part name="return" element="reference:findAirportsResponseMessage"/>
  </message>

  <portType name="AirportServicePortType">
    <operation name="getAirportDetails">
      <input message="tns:getAirportDetailsRequestMessage"/>
      <output message="tns:getAirportDetailsResponseMessage"/>
    </operation>
    <operation name="findAirports">
      <input message="tns:findAirportsRequestMessage"/>
      <output message="tns:findAirportsResponseMessage"/>
    </operation>
  </portType>
  <binding name="ReferenceServicePortTypeSOAP11Binding" type="tns:AirportServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getAirportDetails">
      <soap:operation style="document" soapAction="saibot.airport/services/utility/reference/getAirportDetails"/>
      <input>
        <soap:body use="literal" parts="in"/>
      </input>
      <output>
        <soap:body use="literal" parts="return"/>
      </output>
    </operation>
    <operation name="findAirports">
      <soap:operation style="document" soapAction="saibot.airport/services/utility/reference/findAirports"/>
      <input>
        <soap:body use="literal" parts="in"/>
      </input>
      <output>
        <soap:body use="literal" parts="return"/>
      </output>
    </operation>
  </binding>
</definitions>
