ch10/FlightUpdateNotificationService_step2/FlightUpdateNotificationService/SOA/WSDLs/DropboxAdapter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="DropboxAdapter"
     targetNamespace="http://spring.services.airport.saibot/"
     xmlns:tns="http://spring.services.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://spring.services.airport.saibot/" xmlns:tns="http://spring.services.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="writeFileToDropbox">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:base64Binary"/>
                    <xsd:element name="arg1" type="xsd:string"/>
                    <xsd:element name="arg2" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="writeFileToDropbox" type="tns:writeFileToDropbox"/>
            <xsd:complexType name="writeFileToDropboxResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="writeFileToDropboxResponse" type="tns:writeFileToDropboxResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="writeFileToDropboxInput">
        <wsdl:part name="parameters" element="tns:writeFileToDropbox"/>
    </wsdl:message>
    <wsdl:message name="writeFileToDropboxOutput">
        <wsdl:part name="parameters" element="tns:writeFileToDropboxResponse"/>
    </wsdl:message>
    <wsdl:portType name="DropboxAdapter">
        <wsdl:operation name="writeFileToDropbox">
            <wsdl:input message="tns:writeFileToDropboxInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:writeFileToDropboxOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
