ch10/FlightUpdateNotificationService_step2/FlightUpdateNotificationService/SOA/WSDLs/TwitterStatusUpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="TwitterStatusUpdater"
     targetNamespace="http://spring.services.airport.saibot/"
     xmlns:tns="http://spring.services.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://spring.services.airport.saibot/" xmlns:tns="http://spring.services.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="updateStatus">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="updateStatus" type="tns:updateStatus"/>
            <xsd:complexType name="updateStatusResponse">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="updateStatusResponse" type="tns:updateStatusResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="updateStatusInput">
        <wsdl:part name="parameters" element="tns:updateStatus"/>
    </wsdl:message>
    <wsdl:message name="updateStatusOutput">
        <wsdl:part name="parameters" element="tns:updateStatusResponse"/>
    </wsdl:message>
    <wsdl:portType name="TwitterStatusUpdater">
        <wsdl:operation name="updateStatus">
            <wsdl:input message="tns:updateStatusInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:updateStatusOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
