ch10/FlightUpdateNotificationService_step2/FlightUpdateNotificationService/SOA/WSDLs/TwitterMessageSender.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="TwitterMessageSender"
     targetNamespace="http://spring.services.airport.saibot/"
     xmlns:tns="http://spring.services.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://spring.services.airport.saibot/" xmlns:tns="http://spring.services.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="sendDirectMessage">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="recipient" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sendDirectMessage" type="tns:sendDirectMessage"/>
            <xsd:complexType name="sendDirectMessageResponse">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:element name="sendDirectMessageResponse" type="tns:sendDirectMessageResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendDirectMessageInput">
        <wsdl:part name="parameters" element="tns:sendDirectMessage"/>
    </wsdl:message>
    <wsdl:message name="sendDirectMessageOutput">
        <wsdl:part name="parameters" element="tns:sendDirectMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="TwitterMessageSender">
        <wsdl:operation name="sendDirectMessage">
            <wsdl:input message="tns:sendDirectMessageInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:sendDirectMessageOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
