ch10/FlightUpdateNotificationService_step2/FlightUpdateNotificationService/SOA/WSDLs/ValueMapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="ValueMapper"
     targetNamespace="http://spring.services.airport.saibot/"
     xmlns:tns="http://spring.services.airport.saibot/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://spring.services.airport.saibot/" xmlns:tns="http://spring.services.airport.saibot/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="mapValue">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:string"/>
                    <xsd:element name="arg1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mapValue" type="tns:mapValue"/>
            <xsd:complexType name="mapValueResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mapValueResponse" type="tns:mapValueResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="mapValueInput">
        <wsdl:part name="parameters" element="tns:mapValue"/>
    </wsdl:message>
    <wsdl:message name="mapValueOutput">
        <wsdl:part name="parameters" element="tns:mapValueResponse"/>
    </wsdl:message>
    <wsdl:portType name="ValueMapper">
        <wsdl:operation name="mapValue">
            <wsdl:input message="tns:mapValueInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:mapValueOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
