ch17/AircraftServices-step-two-complex-workflow/AircraftServiceProvider/SOA/Schemas/HandcraftProposalPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="saibot.airport/operational/aircraftservice">
   <import namespace="saibot.airport/operational/aircraftservice" schemaLocation="AircraftService.xsd"/>
   <complexType name="HandcraftProposalPayloadType">
      <sequence>
         <element name="RequestAircraftServiceInRFP" type="ns0:requestProposalMessageType"/>
         <element name="HandcraftedProposal" type="ns0:submitProposalCallbackMessageType"/>
      </sequence>
   </complexType>
</schema>
