ch15/AircraftServices/AircraftServiceOrchestrator/SOA/WSDLs/AircraftServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions
     name="AirportService"
     targetNamespace="http://xmlns.oracle.com/AirportServicesPlatform/AirportServiceRequest/AirportService"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="saibot.airport/operational/aircraftservice"
     xmlns:WL5G3N2="http://xmlns.oracle.com/AirportServicesPlatform/AirportServiceRequest/AirportService"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp1="saibot.airport/operational/aircraftservice"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"     
    >
    <WL5G3N0:types>
        <xsd:schema xmlns:inp1="saibot.airport/operational/aircraftservice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://xmlns.oracle.com/AirportServicesPlatform/AirportServiceRequest/AirportService"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="saibot.airport/operational/aircraftservice" schemaLocation="../Schemas/AircraftService.xsd"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="requestProposalMessage">
        <WL5G3N0:part name="part1" element="WL5G3N1:RequestProposalMessage"/>
    </WL5G3N0:message>

    <WL5G3N0:message name="submitProposalCallbackMessage">
        <WL5G3N0:part name="part1" element="WL5G3N1:SubmitProposalCallbackMessage"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="AircraftService">
        <WL5G3N0:operation name="requestProposal">
            <WL5G3N0:input message="WL5G3N2:requestProposalMessage"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
        <wsdl:portType name="AircraftServiceCallback">
        <wsdl:operation name="submitProposal">
            <wsdl:input message="WL5G3N2:submitProposalCallbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <WL5G3N0:binding name="AircraftServiceSOAP11Binding" type="WL5G3N2:AircraftService">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="requestProposal">
            <WL5G3N3:operation style="document" soapAction="http://xmlns.oracle.com/AirportServicesPlatform/AirportServiceRequest/AirportService/requestProposal"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal" parts="part1"/>
            </WL5G3N0:input>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="AircraftServiceSOAP11BindingQSService">
        <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
        <WL5G3N0:port name="AircraftServiceSOAP11BindingQSPort" binding="WL5G3N2:AircraftServiceSOAP11Binding">
            <WL5G3N3:address location="http://localhost:7101/FlyingHighAircraftService/AircraftServiceProvider"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
