ch3/ConversionServices/LocalLengthDistanceUnitConvertorService/public_html/WEB-INF/wsdl/lengthUnit.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET/">
      <s:element name="ChangeLengthUnit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LengthValue" type="s:double"/>
            <s:element minOccurs="1" maxOccurs="1" name="fromLengthUnit" type="tns:Lengths"/>
            <s:element minOccurs="1" maxOccurs="1" name="toLengthUnit" type="tns:Lengths"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Lengths">
        <s:restriction base="s:string">
          <s:enumeration value="Angstroms"/>
          <s:enumeration value="Nanometers"/>
          <s:enumeration value="Microinch"/>
          <s:enumeration value="Microns"/>
          <s:enumeration value="Mils"/>
          <s:enumeration value="Millimeters"/>
          <s:enumeration value="Centimeters"/>
          <s:enumeration value="Inches"/>
          <s:enumeration value="Links"/>
          <s:enumeration value="Spans"/>
          <s:enumeration value="Feet"/>
          <s:enumeration value="Cubits"/>
          <s:enumeration value="Varas"/>
          <s:enumeration value="Yards"/>
          <s:enumeration value="Meters"/>
          <s:enumeration value="Fathoms"/>
          <s:enumeration value="Rods"/>
          <s:enumeration value="Chains"/>
          <s:enumeration value="Furlongs"/>
          <s:enumeration value="Cablelengths"/>
          <s:enumeration value="Kilometers"/>
          <s:enumeration value="Miles"/>
          <s:enumeration value="Nauticalmile"/>
          <s:enumeration value="League"/>
          <s:enumeration value="Nauticalleague"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="ChangeLengthUnitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangeLengthUnitResult" type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" type="s:double"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChangeLengthUnitSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeLengthUnit"/>
  </wsdl:message>
  <wsdl:message name="ChangeLengthUnitSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeLengthUnitResponse"/>
  </wsdl:message>
  <wsdl:message name="ChangeLengthUnitHttpGetIn">
    <wsdl:part name="LengthValue" type="s:string"/>
    <wsdl:part name="fromLengthUnit" type="s:string"/>
    <wsdl:part name="toLengthUnit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeLengthUnitHttpGetOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:message name="ChangeLengthUnitHttpPostIn">
    <wsdl:part name="LengthValue" type="s:string"/>
    <wsdl:part name="fromLengthUnit" type="s:string"/>
    <wsdl:part name="toLengthUnit" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="ChangeLengthUnitHttpPostOut">
    <wsdl:part name="Body" element="tns:double"/>
  </wsdl:message>
  <wsdl:portType name="lengthUnitSoap">
    <wsdl:operation name="ChangeLengthUnit">
      <wsdl:input message="tns:ChangeLengthUnitSoapIn"/>
      <wsdl:output message="tns:ChangeLengthUnitSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lengthUnitSoap" type="tns:lengthUnitSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChangeLengthUnit">
      <soap:operation style="document" soapAction="http://www.webserviceX.NET/ChangeLengthUnit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lengthUnit">
    <wsdl:port name="lengthUnitSoap" binding="tns:lengthUnitSoap">
      <soap:address location="http://localhost:7101/ConversionServices-LocalLengthDistanceUnitConvertorService-context-root/LengthUnitSoapImplService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>